<h2>Editar <%=DeliveryTime.model_name.human %></h2>
<% if(@delivery_time.errors.any?) %>
	<div class="alert alert-danger" role="alert">
		<p> A validação falhou: </p>
		<ul>
			<% @delivery_time.errors.full_messages.each do |message| %>
			<li> <%= message %> </li>
			<% end %>
		</ul>
	</div>
<% end %> 
<%= render 'form'%>