<h2>Todos os <%=Vehicle.model_name.human %></h2>

<div class="table-responsive">
  <% if @vehicles.any? %>
    <%= render 'index' %>
  <% else %>
    <span> 'Não existem pedidos cadastrados' </span>
  <% end %>
</div>